.article-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  height: 100%;
}
.article-card .article-card__image-wrapper {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  padding-top: 58.31%;
  border-radius: var(--global-border-radius);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .article-card .article-card__image-wrapper:hover .article-card__image {
    transform: scale(1.15);
  }
}
.article-card .article-card__image-wrapper:has(.article-card__image-link:focus-visible) {
  outline: 2px solid var(--color-text-primary);
  outline-offset: 2px;
}
.article-card .article-card__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: var(--img-desktop-pos);
  transition-property: transform, opacity;
  transition-duration: 1.5s;
}
.article-card .article-card__image-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.article-card .article-card__info-tag {
  position: absolute;
  bottom: 12px;
  left: 12px;
  max-width: calc(100% - 24px);
  overflow: hidden;
  padding: 4px 12px;
  border: 1px solid transparent;
  border-radius: calc(var(--global-border-radius) * 0.75);
  backdrop-filter: blur(24px);
  color: var(--label-text);
  background-color: var(--label-background);
  font-size: calc(var(--body-font-size) * 0.875);
  line-height: 1.43;
  word-break: break-word;
  text-decoration: none;
  transition-property: border-color;
  transition-duration: var(--timing-base);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .article-card .article-card__info-tag:hover {
    border-color: var(--label-text);
  }
}
.article-card .article-card__info-tag:focus-visible {
  border-color: var(--label-text);
  outline: 2px solid var(--label-text);
  outline-offset: 2px;
}
.article-card .article-card__content {
  display: flex;
  gap: 12px;
  width: 100%;
}
.article-card .article-card__content-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
.article-card .article-card__navigation-box {
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.article-card .article-card__info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: calc(var(--body-font-size) * 0.875);
  font-weight: 500;
  line-height: 1.43;
  color: var(--color-text-secondary);
  word-wrap: break-word;
  gap: 8px;
}
.article-card .article-card__info-item {
  display: flex;
  gap: 8px;
  align-items: center;
  position: relative;
}
.article-card .article-card__info-item:not(:last-child)::after {
  content: "";
  display: block;
  flex-shrink: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--color-text-secondary);
}
.article-card .article-card__title {
  position: relative;
  align-self: flex-start;
  padding: 1px 0;
  font-size: calc(var(--heading-font-size) * 1.125);
  line-height: 1.5;
  color: var(--color-text-primary);
  text-decoration: none;
}
.article-card .article-card__title.article-card__title--clipped {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.article-card .article-card__title::after {
  content: "";
  position: absolute;
  inset-inline-start: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition-property: width;
  transition-duration: var(--timing-base);
}
.article-card .article-card__title:focus-visible {
  outline: 2px solid var(--color-text-primary);
  outline-offset: 1px;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .article-card .article-card__title:hover::after {
    width: 24px;
  }
}
.article-card .article-card__description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  font-size: calc(var(--body-font-size) * 0.875);
  line-height: 1.5;
  word-wrap: break-word;
  color: var(--color-text-primary);
}
.article-card .article-card__description.article-card__description--clipped {
  -webkit-line-clamp: 2;
}
@media (min-width: 768px) {
  .article-card .article-card__image-wrapper {
    padding-top: 61.05%;
    border-radius: calc(var(--global-border-radius) * 1.5);
  }
  .article-card .article-card__title {
    font-size: calc(var(--heading-font-size) * 1.375);
    line-height: 1.5;
  }
}
@media (min-width: 1501px) {
  .article-card.article-card--small .article-card__image-wrapper {
    padding-top: 65.79%;
    border-radius: var(--global-border-radius);
  }
  .article-card.article-card--small .article-card__title {
    font-size: calc(var(--body-font-size) * 1.125);
    line-height: 1.43;
  }
  .article-card.article-card--big .article-card__content {
    gap: 32px;
  }
  .article-card.article-card--big .article-card__image-wrapper {
    padding-top: 55.83%;
  }
  .article-card.article-card--big .article-card__title {
    font-size: calc(var(--heading-font-size) * 1.75);
    line-height: 1.43;
  }
}