.socials-share {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}
.socials-share .socials-share__item {
  padding: 10px;
}
/*============================================================================
  Responsive tables, defined with .responsive-table on table element.
==============================================================================*/
.responsive-table {
  width: 100%;
}
.responsive-table .responsive-table__links {
  display: flex;
}
.responsive-table .responsive-table__product-variant-title {
  display: block;
  margin-top: 8px;
  font-size: calc(var(--body-font-size) * 0.875);
  line-height: 1.286;
  color: var(--color-text-thirdly);
}
.responsive-table .responsive-table__product-options {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 8px;
}
.responsive-table .responsive-table__product-option {
  display: flex;
  gap: 8px;
  font-size: calc(var(--body-font-size) * 0.875);
  color: var(--color-text-primary);
}
.responsive-table .responsive-table__product-option-name {
  color: #808080;
  flex-shrink: 0;
}
.responsive-table .responsive-table__product-option-value {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.responsive-table .responsive-table__product-option-name,
.responsive-table .responsive-table__product-option-value {
  word-break: break-word;
  hyphens: auto;
}
.responsive-table .responsive-table__order-status {
  display: inline-block;
  margin-top: 8px;
  padding: 4px 12px;
  font-size: var(--body-font-size);
  font-weight: 600;
  line-height: 1.5;
  border-radius: calc(var(--global-border-radius) * 3.125);
  background-color: var(--color-background-secondary);
  color: var(--color-text-primary);
}
.responsive-table .responsive-table__order-status.responsive-table__order-status--paid, .responsive-table .responsive-table__order-status.responsive-table__order-status--fulfilled {
  position: relative;
  padding-inline-start: 26px;
  border: 0;
}
.responsive-table .responsive-table__order-status.responsive-table__order-status--paid:before, .responsive-table .responsive-table__order-status.responsive-table__order-status--fulfilled:before {
  content: "";
  position: absolute;
  left: 12px;
  top: 50%;
  width: 6px;
  height: 6px;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  border-radius: 50%;
}
.responsive-table .responsive-table__order-status.responsive-table__order-status--paid {
  background-color: var(--color-text-success-lighten);
}
.responsive-table .responsive-table__order-status.responsive-table__order-status--paid:before {
  background-color: var(--color-text-success);
}
.responsive-table .responsive-table__order-status.responsive-table__order-status--fulfilled {
  background-color: var(--color-text-attention-lighten);
}
.responsive-table .responsive-table__order-status.responsive-table__order-status--fulfilled:before {
  background-color: var(--color-text-attention);
}
.responsive-table .responsive-table__link {
  height: max-content;
  line-height: 1.5;
  color: var(--color-text-primary);
  text-decoration: none;
  font-weight: 700;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .responsive-table .responsive-table__link:hover {
    text-decoration: underline;
  }
}
.responsive-table .responsive-table__image-wrapper {
  display: block;
  min-width: 80px;
  min-height: 80px;
  max-width: 80px;
  max-height: 80px;
  margin-inline-end: 16px;
  border-radius: calc(var(--global-border-radius) / 2);
  overflow: hidden;
}
.responsive-table .responsive-table__image--placeholder {
  background: var(--color-background-secondary);
  color: var(--color-text-primary);
}
.responsive-table thead tr th {
  background-color: transparent;
  border-bottom: 1px solid var(--color-border-secondary);
}
.responsive-table thead tr th:first-child {
  border-top-left-radius: calc(var(--global-border-radius) / 2);
  border-bottom-left-radius: calc(var(--global-border-radius) / 2);
}
.responsive-table thead tr th:last-child {
  border-top-right-radius: calc(var(--global-border-radius) / 2);
  border-bottom-right-radius: calc(var(--global-border-radius) / 2);
}
.responsive-table tbody,
.responsive-table tfoot {
  border-bottom: 1px solid var(--color-border-secondary);
}
.responsive-table tbody .responsive-table__row {
  border-bottom: 1px solid var(--color-border-secondary);
}
.responsive-table tfoot td {
  padding: 8px;
  line-height: 1.5;
  color: var(--color-text-primary);
}
.responsive-table tfoot td:last-child {
  font-weight: 500;
  white-space: nowrap;
  text-align: end;
  color: var(--color-text-primary);
}
.responsive-table tfoot tr:first-child td {
  padding-top: 16px;
}
.responsive-table tfoot tr:last-child td {
  padding-bottom: 16px;
}
.responsive-table th {
  padding: 16px 8px;
  font-size: calc(var(--body-font-size) * 0.875);
  font-weight: 400;
  line-height: 1.286;
  color: var(--color-text-secondary);
}
.responsive-table th:first-child {
  padding-inline-start: 16px;
}
.responsive-table th:last-child {
  padding-inline-end: 16px;
}
.responsive-table th.responsive-table__sku, .responsive-table th.responsive-table__price, .responsive-table th.responsive-table__quantity, .responsive-table th.responsive-table__total {
  text-align: center;
}
.responsive-table td {
  padding: 16px 8px;
  font-size: var(--body-font-size);
  line-height: 1.375;
  color: var(--color-text-primary);
}
.responsive-table td:first-child {
  padding-inline-start: 16px;
}
.responsive-table td:last-child {
  padding-inline-end: 16px;
}
.responsive-table td.responsive-table__sku, .responsive-table td.responsive-table__price, .responsive-table td.responsive-table__quantity, .responsive-table td.responsive-table__total {
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  word-break: break-word;
}
.responsive-table th,
.responsive-table td {
  width: 20%;
  text-align: start;
}
.responsive-table th.column-large,
.responsive-table td.column-large {
  width: 47.6%;
}
.responsive-table a {
  text-decoration-line: underline;
  text-underline-offset: 4px;
  text-decoration-color: inherit;
  transition-property: text-decoration-color;
  transition-duration: var(--timing-short);
  transition-timing-function: var(--easing-linear);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .responsive-table a:hover {
    text-decoration-color: transparent;
  }
}
@media (max-width: 767.98px) {
  .responsive-table .responsive-table__small-hide {
    display: none;
  }
  .responsive-table thead {
    display: none;
  }
  .responsive-table tr {
    display: block;
  }
  .responsive-table tr,
  .responsive-table td {
    float: left;
    clear: both;
    width: 100%;
  }
  .responsive-table tr.column-large,
  .responsive-table td.column-large {
    width: 100%;
  }
  .responsive-table th,
  .responsive-table td {
    display: block;
    margin: 0;
    padding: 15px;
    text-align: start;
  }
  .responsive-table td[data-label]::before {
    content: attr(data-label);
    float: left;
    padding-inline-end: 10px;
    text-align: center;
  }
  .responsive-table-row + .responsive-table-row,
  tfoot > .responsive-table-row:first-child {
    position: relative;
    margin-top: 40px;
    padding-top: 15px;
  }
}
.quick-view {
  display: block;
  width: 100%;
  max-width: 500px;
  max-height: 100%;
  height: calc(100% - 34px);
  margin-top: 36px;
  padding-top: 56px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  border-top-left-radius: var(--global-border-radius);
  scrollbar-gutter: stable;
}
.quick-view .quick-view__header {
  position: static;
  display: flex;
  align-items: flex-start;
  padding: 0 24px 8px;
}
.quick-view .quick-view__header .popup-close-icon-button {
  inset-inline-end: 24px;
}
.quick-view .quick-view__heading-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}
.quick-view .quick-view__heading {
  font-size: calc(var(--heading-font-size) * 1.5);
  font-weight: 700;
  line-height: 1;
  text-align: start;
  color: var(--color-text-primary);
  text-transform: uppercase;
}
.quick-view .quick-view__price {
  flex-grow: 1;
  flex-basis: 0;
  font-style: normal;
  font-size: var(--body-font-size);
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--color-text-primary);
}
.quick-view .quick-view__price .price.price--on-sale .price__sale {
  display: flex;
  flex-direction: column;
}
.quick-view .quick-view__price .price.price--on-sale .price__sale .price-item--sale {
  font-weight: 700;
  font-size: calc(var(--body-font-size) * 1.375);
}
.quick-view .quick-view__description {
  font-size: calc(var(--body-font-size) * 0.875);
  line-height: 1.2857;
  color: var(--color-text-primary);
}
.quick-view .quick-view__read-more {
  width: fit-content;
  margin-top: -8px;
  font-size: calc(var(--body-font-size) * 0.875);
  line-height: 1.2857;
  color: var(--color-text-primary);
  text-transform: capitalize;
  opacity: 1;
  transition: text-decoration-color var(--timing-base) ease;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .quick-view .quick-view__read-more:hover {
    text-decoration-color: transparent;
  }
}
.quick-view .quick-view__body {
  height: 100%;
  width: 100%;
  padding: 0 24px;
}
.quick-view .quick-view__media {
  padding-bottom: 17px;
  padding-top: 7px;
}
.quick-view .quick-view__placeholder,
.quick-view .quick-view__placeholder-img,
.quick-view .quick-view__placeholder-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.quick-view .quick-view__placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}
.quick-view .quick-view__placeholder-img {
  object-fit: cover;
}
.quick-view .quick-view__image, .quick-view model-viewer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-position: var(--img-desktop-pos);
  overflow: hidden;
}
.quick-view .quick-view__image iframe, .quick-view model-viewer iframe {
  width: 100%;
  height: 100%;
}
.quick-view .quick-view__model-view-button {
  position: absolute;
  z-index: var(--layer-flat, 1);
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px;
  background-color: var(--color-background);
  color: var(--color-text-primary);
}
.quick-view .quick-view__model-view-button .icon {
  margin-inline-end: 10px;
  width: 20px;
}
.quick-view .quick-view__model-view-button[data-shopify-xr-hidden] {
  display: none;
}
.quick-view .quick-view__model-view-button:focus-visible {
  outline: 2px solid var(--color-text-primary);
}
.quick-view .quick-view__image-wrapper {
  position: relative;
  padding-top: 100%;
  border-radius: 16px;
  overflow: hidden;
}
.quick-view .quick-view__image-wrapper.quick-view__image-wrapper--native-size {
  padding-top: var(--aspect-ratio, 100%);
}
.quick-view .quick-view__image-wrapper.quick-view__image-wrapper--native-size .quick-view__image {
  object-fit: cover;
}
.quick-view .quick-view__image-wrapper.quick-view__image-wrapper--contain .quick-view__image {
  object-fit: contain;
}
.quick-view .quick-view__image-wrapper.quick-view__image-wrapper--cover .quick-view__image {
  object-fit: cover;
}
.quick-view .quick-view__image-wrapper .quick-view__placeholder-btn,
.quick-view .quick-view__image-wrapper .quick-view__image-button {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: var(--color-background, #fff);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  pointer-events: auto;
  color: var(--color-text-primary, #000);
  transition-property: background-color;
  transition-duration: var(--timing-short);
}
.quick-view .quick-view__image-wrapper .quick-view__placeholder-btn svg,
.quick-view .quick-view__image-wrapper .quick-view__image-button svg {
  width: 40%;
  height: 40%;
}
.quick-view .quick-view__image-wrapper .quick-view__placeholder-btn path,
.quick-view .quick-view__image-wrapper .quick-view__image-button path {
  transition-property: fill;
  transition-duration: var(--timing-short);
}
.quick-view .quick-view__image-wrapper .quick-view__placeholder-btn:focus-visible,
.quick-view .quick-view__image-wrapper .quick-view__image-button:focus-visible {
  outline: 2px solid var(--color-text-primary);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .quick-view .quick-view__image-wrapper .quick-view__placeholder-btn:hover,
  .quick-view .quick-view__image-wrapper .quick-view__image-button:hover {
    border-color: var(--color-slider-arrow-border-hover);
    color: var(--color-slider-arrow-icon-hover, #fff);
  }
  .quick-view .quick-view__image-wrapper .quick-view__placeholder-btn:hover path,
  .quick-view .quick-view__image-wrapper .quick-view__image-button:hover path {
    fill: var(--color-slider-arrow-icon-hover, #fff);
  }
}
.quick-view .quick-view__image-wrapper video, .quick-view .quick-view__image-wrapper iframe {
  background-color: #000;
}
.quick-view .is-paused-video video,
.quick-view .is-paused-video iframe {
  visibility: hidden;
}
.quick-view .quick-view__slider {
  position: relative;
}
.quick-view .quick-view__slider .swiper-button-next,
.quick-view .quick-view__slider .swiper-button-prev {
  display: none;
  width: 48px;
  height: 64px;
  margin-top: -20px;
  color: var(--color-slider-arrow-icon, #000);
}
.quick-view .quick-view__slider .swiper-button-next.desktop-only,
.quick-view .quick-view__slider .swiper-button-prev.desktop-only {
  display: none;
}
.quick-view .quick-view__slider .swiper-button-next svg,
.quick-view .quick-view__slider .swiper-button-prev svg {
  flex-shrink: 0;
}
.quick-view .quick-view__slider .swiper-button-next::before, .quick-view .quick-view__slider .swiper-button-next::after,
.quick-view .quick-view__slider .swiper-button-prev::before,
.quick-view .quick-view__slider .swiper-button-prev::after {
  content: none;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .quick-view .quick-view__slider .swiper-button-next:hover,
  .quick-view .quick-view__slider .swiper-button-prev:hover {
    color: var(--color-slider-arrow-icon-hover, #fff);
  }
}
.quick-view .quick-view__slider .swiper-button-next {
  right: 16px;
}
.quick-view .quick-view__slider .swiper-button-prev {
  left: 16px;
}
.quick-view .product-countdown-timer {
  margin-bottom: 32px;
}
.quick-view .quick-view__slider-pagination {
  position: static;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  transform: none;
}
.quick-view .quick-view__slider-pagination.swiper-pagination-bullets {
  transform: none;
}
.quick-view .shopify-model-viewer-ui .shopify-model-viewer-ui__controls-area {
  border: 1px solid var(--color-slider-arrow-border);
}
.quick-view .shopify-model-viewer-ui .shopify-model-viewer-ui__button {
  color: var(--color-slider-arrow-icon, #000);
}
.quick-view .shopify-model-viewer-ui .shopify-model-viewer-ui__button::after {
  background-color: var(--color-slider-arrow-border);
  opacity: 1;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .quick-view .shopify-model-viewer-ui .shopify-model-viewer-ui__button:hover {
    color: var(--color-slider-arrow-icon-hover, #fff);
  }
}
.quick-view .quick-view__vendor-and-sku {
  display: flex;
  gap: 32px;
  font-size: calc(var(--body-font-size) * 0.875);
  line-height: 1.286;
  color: var(--color-text-primary);
}
.quick-view .quick-view__vendor-and-sku .quick-view__vendor + .quick-view__sku {
  position: relative;
}
.quick-view .quick-view__vendor-and-sku .quick-view__vendor + .quick-view__sku::before {
  content: "";
  position: absolute;
  top: 0;
  left: -17px;
  width: 1px;
  height: 18px;
  background-color: currentColor;
  opacity: 0.5;
}
.quick-view .quick-view__vendor-and-sku .quick-view__sku {
  opacity: 0.5;
}
.quick-view .quick-view__vendor-and-sku .quick-view__sku:has(.quick-view__sku-content:empty) {
  display: none;
}
.quick-view .quick-view__status-icon {
  width: 20px;
  height: 20px;
}
.quick-view .quick-view__status-icon .icon {
  width: 20px;
  height: 20px;
  display: none;
}
.quick-view .quick-view__status-text span {
  display: none;
}
.quick-view .custom-dropdown {
  color: var(--color-text-primary);
}
.quick-view .quick-view__status {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: calc(var(--body-font-size) * 0.875);
  color: var(--color-text-primary);
}
.quick-view .quick-view__status[data-status=in-stock] .icon.icon-checkmark, .quick-view .quick-view__status[data-status=in-stock] .quick-view__status-text-in-stock {
  display: inline-block;
}
.quick-view .quick-view__status[data-status=sold-out] .icon.icon-close, .quick-view .quick-view__status[data-status=sold-out] .quick-view__status-text-sold-out {
  display: inline-block;
}
.quick-view .quick-view__status[data-status=unavailable] .icon.icon-close, .quick-view .quick-view__status[data-status=unavailable] .quick-view__status-text-unavailable {
  display: inline-block;
}
.quick-view .quick-view__meta-scroll-wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: calc(100vh - 180px);
  margin: 0 -2px;
  padding: 0 2px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.quick-view .quick-view__meta-scroll-wrapper::-webkit-scrollbar {
  display: none;
}
.quick-view .quick-view__meta {
  padding-bottom: 20px;
}
.quick-view .quick-view_button-wrapper {
  position: sticky;
  margin-left: -24px;
  margin-right: -24px;
  padding: 12px;
  display: flex;
  justify-content: center;
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-background-popup-drawer-alpha, #000);
  border-bottom-left-radius: var(--global-border-radius);
}
.quick-view .quick-view_button-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background-color: var(--color-border-primary);
  opacity: 0.12;
}
.quick-view .quick-view__button {
  width: 100%;
  padding: 16px;
}
.quick-view .quick-view__button.quick-view__button--desktop {
  display: none;
}
.quick-view .quick-view__button.quick-view__button--transparent {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.quick-view .quick-view__button.quick-view__button--transparent span {
  text-decoration: underline;
  text-underline-offset: 6px;
}
.quick-view .quick-view__button.quick-view__button--transparent svg {
  width: 16px;
  height: 16px;
}
.quick-view .quick-view__button.quick-view__button--transparent:focus-visible {
  outline: 2px solid var(--button-background-color-secondary);
  outline-offset: 10px;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .quick-view .quick-view__button.quick-view__button--transparent:hover {
    background-color: transparent;
    opacity: 0.5;
  }
}
.quick-view .quick-view__promo-timer {
  color: var(--color-text-primary);
}
.quick-view .quick-view__promo-timer-text {
  opacity: 0.5;
  text-align: center;
  font-size: calc(var(--body-font-size) * 0.875);
  line-height: 1.714;
}
@media (min-width: 992px) {
  .quick-view {
    width: calc(100% - 40px);
    top: 0;
    margin-top: 12px;
    margin-bottom: 12px;
    max-width: 860px;
    padding-top: 44px;
    padding-bottom: 0;
    height: 100%;
    max-height: calc(100% - 24px);
  }
  .quick-view .quick-view__body {
    padding: 0 32px;
  }
  .quick-view .quick-view__header {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
  }
  .quick-view .quick-view__heading-wrapper {
    gap: 12px;
  }
  .quick-view .quick-view__meta-scroll-wrapper {
    display: flex;
    overflow: visible;
    height: 100%;
    margin: 0;
    padding: 0;
    max-height: 100%;
  }
  .quick-view .quick-view__media {
    flex-shrink: 0;
    width: calc(48.8% - 8px);
    max-height: 100vh;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .quick-view .quick-view__media::-webkit-scrollbar {
    display: none;
  }
  .quick-view .quick-view__media:has(> [data-media-layout=stacked]):focus-visible {
    outline: 2px solid var(--color-text-primary);
    outline-offset: 5px;
  }
  .quick-view .quick-view__media-stacked {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 56px;
  }
  .quick-view .quick-view__slider-pagination.quick-view__slider-pagination--mobile-only {
    display: none;
  }
  .quick-view .quick-view__meta {
    flex-shrink: 1;
    width: 100%;
    max-height: calc(100vh - 24px);
    padding-bottom: 56px;
    padding-inline-start: 16px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .quick-view .quick-view__meta::-webkit-scrollbar {
    display: none;
  }
  .quick-view .quick-view__heading {
    margin-top: 24px;
    font-size: calc(var(--heading-font-size) * 2);
    line-height: 1.5;
  }
  .quick-view .quick-view__description {
    padding-top: 2px;
  }
  .quick-view .quick-view__read-more {
    margin-top: -3px;
  }
  .quick-view .quick-view-form__controls {
    border-top: 1px solid var(--color-border-secondary, #000000);
    padding-top: 16px;
  }
  .quick-view .quick-view-form__controls.quick-view-form__controls--no-border {
    border: none;
  }
  .quick-view .quick-view__status {
    margin-top: 5px;
  }
  .quick-view .swiper-slide {
    border-radius: 16px;
    overflow: hidden;
  }
  .quick-view .quick-view-form {
    padding-top: 12px;
  }
  .quick-view .quick-view__button {
    margin: 0;
  }
  .quick-view .quick-view__slider:not([data-media-layout=stacked]) .swiper-button-next,
  .quick-view .quick-view__slider:not([data-media-layout=stacked]) .swiper-button-prev {
    display: flex;
  }
  .quick-view .quick-view__slider:not([data-media-layout=stacked]) .swiper-button-next.desktop-only,
  .quick-view .quick-view__slider:not([data-media-layout=stacked]) .swiper-button-prev.desktop-only {
    display: flex;
  }
  .quick-view .quick-view__button.quick-view__button--desktop {
    display: flex;
  }
  .quick-view .quick-view_button-wrapper {
    display: none;
  }
}
@media (min-width: 481px) {
  .quick-view .shopify-model-viewer-ui__controls-area {
    flex-direction: column;
  }
  .quick-view .shopify-model-viewer-ui__button:first-child {
    border-radius: 4px 4px 0 0;
  }
  .quick-view .shopify-model-viewer-ui__button:last-child {
    border-radius: 0 0 4px 4px;
  }
}
body.rtl .quick-view .swiper-pagination-progressbar-fill {
  transform-origin: right top;
}
.window-overlay[data-js-overlay=quick-view-preloader] {
  pointer-events: none;
}
.window-overlay[data-js-overlay=quick-view] {
  cursor: pointer;
}
.window-overlay[data-js-overlay=quick-view] .loader {
  display: none;
}
.product-options {
  padding-top: var(--offset-top-desktop);
  padding-bottom: var(--offset-bottom-desktop);
}
html.no-js .product-options {
  display: none;
}
.product-options__swatch-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.product-options__swatch-container.product-options__swatch-container--small-gap {
  gap: 8px;
}
.product-options__dropdown {
  margin-bottom: 16px;
}
.product-options__default {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 8px;
}
.product-options__accordion-item {
  margin: 0 -24px;
  padding: 0 24px;
  border-top: 1px solid color-mix(in srgb, var(--color-text-primary), transparent 88%);
}
.product-options__accordion-item.product-options__accordion-item--last {
  border-bottom: 1px solid color-mix(in srgb, var(--color-text-primary), transparent 88%);
}
.product-options__accordion-content {
  padding-top: 4px;
  padding-bottom: 12px;
}
.product-options__accordion-content-animate {
  margin: 0 -2px;
  padding: 0 2px;
}
.product-options__accordion-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  font-size: calc(var(--body-font-size) * 0.875);
  color: var(--color-text-primary);
  gap: 8px;
  text-align: start;
}
.product-options__accordion-head[aria-expanded=true] .product-options__accordion-icon .icon.icon-arrow-down {
  transform: rotate(180deg);
}
.product-options__accordion-icon .icon.icon-arrow-down {
  display: block;
  width: 16px;
  height: 16px;
  transition-duration: var(--timing-base);
  transition-property: transform;
  transform-origin: 50% 50%;
}
.product-options__option-label {
  width: 100%;
  line-height: 1.5;
}
.product-options__size-guide {
  margin-top: 24px;
}
.product-options__size-guide .button-link__icon {
  width: 40px;
  height: 40px;
}
.product-options__swatch-label {
  opacity: 0.5;
  line-height: 1.43;
}
.product-options__swatch-value {
  padding-inline-start: 6px;
  font-size: var(--body-font-size);
  line-height: 1.5;
  font-weight: 500;
  word-break: break-word;
}
.product-variants {
  display: none;
  padding-top: var(--offset-top-desktop);
  padding-bottom: var(--offset-bottom-desktop);
}
.product-variants.product-variants--only {
  display: block;
}
html.no-js .product-variants {
  display: block;
}
@media (max-width: 767.98px) {
  .product-options__swatch-container {
    flex-basis: 100%;
  }
}
@media (max-width: 1199.98px) {
  .product-options {
    padding-top: var(--offset-top-mobile);
    padding-bottom: var(--offset-bottom-mobile);
  }
  .product-options__accordion-item {
    margin: 0 -16px;
    padding: 0 16px;
  }
  .product-options__swatch-container {
    gap: 8px;
  }
  .product-variants {
    padding-top: var(--offset-top-mobile);
    padding-bottom: var(--offset-bottom-mobile);
  }
  .product-options__size-guide .button-link__icon {
    width: 32px;
    height: 32px;
  }
}
@media (min-width: 992px) {
  .product-options__swatch-container.product-options__swatch-container--images .radio-option-swatch-square__label,
  .product-options__swatch-container.product-options__swatch-container--images .radio-option-swatch-rectangle__label {
    width: 60px;
    height: 60px;
  }
}
.quick-view-form {
  padding-top: 16px;
}
.quick-view-form .quick-view-form__options-container {
  padding-bottom: 16px;
}
.quick-view-form .quick-view-form__option {
  border-top: 1px solid var(--color-border-secondary);
}
.quick-view-form .quick-view-form__option:last-child {
  border-bottom: none;
}
.quick-view-form .quick-view-form__option.quick-view-form__option--no-border {
  border: none;
  margin-bottom: 12px;
}
.quick-view-form .quick-view-form__name {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 12px 0;
  border-radius: calc(var(--global-border-radius) / 2);
  font-size: calc(var(--body-font-size) * 0.875);
  font-weight: 400;
  line-height: 1.357;
  color: var(--color-text-primary);
  cursor: pointer;
  text-align: start;
}
.quick-view-form .quick-view-form__name[aria-expanded=true] .quick-view-form__accordion-icon .icon.icon-arrow-down {
  transform: rotate(180deg);
}
.quick-view-form .quick-view-form__name:focus-visible {
  outline-offset: -2px;
}
.quick-view-form .quick-view-form__accordion-icon .icon.icon-arrow-down {
  display: block;
  width: 16px;
  height: 16px;
  transition-duration: var(--timing-base);
  transition-property: transform;
  transform-origin: 50% 50%;
}
.quick-view-form .quick-view-form__accordion-content-animate {
  margin: 0 -2px;
  padding: 0 2px;
}
.quick-view-form .quick-view-form__accordion-content {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.quick-view-form .quick-view-form__swatch-value {
  display: inline-block;
}
.quick-view-form .quick-view-form__radio-container {
  flex-shrink: 0;
  margin: 0;
}
.quick-view-form .quick-view__buttons {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.quick-view-form .additional-checkout-buttons .shopify-payment-button__button--branded {
  min-height: 54px;
  padding: 0;
  border-radius: 0;
}
.quick-view-form .additional-checkout-buttons .shopify-payment-button__button--branded [data-testid=ShopifyPay-button] {
  border-radius: 33px;
}
.quick-view-form .additional-checkout-buttons .shopify-payment-button__button.shopify-payment-button__button--unbranded {
  position: relative;
  z-index: 1;
  height: 58px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 16px 32px;
  border: 1px solid var(--button-border-color-secondary);
  border-radius: 4px;
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  line-height: 1.5;
  text-align: center;
  word-break: break-word;
  text-decoration: none;
  text-transform: var(--button-text-transform);
  transition-property: color, background-color, border-color;
  transition-duration: var(--timing-base);
  gap: 12px;
  background-color: var(--button-background-color-secondary);
  color: var(--button-text-color-secondary);
}
.quick-view-form .additional-checkout-buttons .shopify-payment-button__button.shopify-payment-button__button--unbranded::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -50%;
  border-radius: 50%;
  width: 150%;
  height: 200%;
  transform: translate3d(0, 90%, 0);
  transition-property: transform;
  transition-duration: var(--animate-time);
  background-color: var(--button-background-color-secondary-hover);
}
.quick-view-form .additional-checkout-buttons .shopify-payment-button__button.shopify-payment-button__button--unbranded[disabled] {
  opacity: 0.7;
  cursor: default;
  pointer-events: none;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .quick-view-form .additional-checkout-buttons .shopify-payment-button__button.shopify-payment-button__button--unbranded:hover {
    border-color: var(--button-border-color-secondary-hover);
    color: var(--button-text-color-secondary-hover);
  }
  .quick-view-form .additional-checkout-buttons .shopify-payment-button__button.shopify-payment-button__button--unbranded:hover::before {
    transform: translate3d(0, 0%, 0);
  }
}
.quick-view-form .additional-checkout-buttons .shopify-payment-button__button.shopify-payment-button__button--unbranded:focus-visible {
  outline: 2px solid var(--button-background-color-secondary);
  outline-offset: 2px;
}
.quick-view-form .additional-checkout-buttons .shopify-payment-button__more-options {
  color: var(--color-text-primary);
}
.quick-view-form .quick-view-form__additional-data {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  justify-content: space-between;
  align-items: center;
}
.quick-view-form .quick-view-form__error {
  margin-top: 5px;
  color: var(--color-text-attention, #d33636);
}
.quick-view-form .quick-view-form__error:has(.quick-view-form__error:empty) {
  display: none;
}
.quick-view-form .quick-view-form__compare-button {
  width: 100%;
  margin: 0;
  padding-top: 7px;
  padding-bottom: 7px;
}
.quick-view-form .quick-view-form__compare-button .icon-checkmark {
  display: none;
}
.quick-view-form .quick-view-form__compare-button.is-active .icon-checkmark {
  display: block;
}
@media (min-width: 768px) {
  .quick-view-form .quick-view-form__swatch-value {
    display: none;
  }
}
@media (min-width: 992px) {
  .quick-view-form .quick-view__buttons {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 13px;
  }
  .quick-view-form .additional-checkout-buttons {
    width: 100%;
  }
  .quick-view-form .additional-checkout-buttons .shopify-payment-button__button {
    width: 100%;
  }
  .quick-view-form .quick-view-form__options-container {
    padding: 0;
  }
  .quick-view-form .quick-view__buttons {
    margin-top: 12px;
    padding-top: 0;
  }
  .quick-view-form .product-options__swatch-value {
    padding-inline-start: 6px;
  }
}
.content .shopify-challenge__container {
  max-width: 840px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 60px;
}
.content .shopify-challenge__container .shopify-challenge__container .g-recaptcha div {
  margin: 0 auto;
}
.content .shopify-challenge__container .shopify-challenge__errors {
  margin-bottom: 20px;
  color: var(--color-text-attention);
}
.content .shopify-challenge__container .shopify-challenge__message {
  margin-bottom: 20px;
}
.content .shopify-challenge__container .shopify-challenge__button {
  margin-top: 20px;
  padding: 14px;
  border: 1px solid var(--button-border-color-secondary);
  background-color: var(--button-background-color-secondary);
  font-size: var(--body-font-size);
  line-height: calc(var(--body-font-size) * 1.375);
  text-align: center;
  color: var(--button-text-color-secondary);
  transition: color var(--timing-short), border var(--timing-short), background-color var(--timing-short);
  min-width: 180px;
}
.content .shopify-challenge__container .shopify-challenge__button:hover, .content .shopify-challenge__container .shopify-challenge__button:focus-visible {
  border-color: var(--button-border-color-secondary-hover);
  background-color: var(--button-background-color-secondary-hover);
  color: var(--button-text-color-secondary-hover);
}
@media (min-width: 768px) {
  .content .shopify-challenge__container {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  .content .shopify-challenge__container .shopify-policy__title {
    margin-bottom: 60px;
  }
}
@media (min-width: 992px) {
  .content .shopify-challenge__container {
    padding-bottom: 146px;
  }
}
.content .shopify-policy__container {
  max-width: 840px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
}
.content .shopify-policy__container .shopify-policy__title {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .content .shopify-policy__container {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  .content .shopify-policy__container .shopify-policy__title {
    margin-bottom: 60px;
  }
}
@media (min-width: 992px) {
  .content .shopify-policy__container {
    padding-bottom: 146px;
  }
}
.product-volume-pricing {
  width: 100%;
  margin-top: 20px;
}
.product-volume-pricing .product-volume-pricing__title {
  font-size: calc(var(--body-font-size) * 0.875);
}
.product-volume-pricing .product-volume-pricing__list {
  max-width: 350px;
  margin-top: 5px;
}
.product-volume-pricing .product-volume-pricing__list-item {
  display: flex;
  justify-content: space-between;
  padding: 7px 0;
  border-bottom: 1px solid var(--color-border-primary);
}
.product-volume-pricing .product-volume-pricing__show-more {
  margin-top: 7px;
}
.product-price-quantity {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: var(--offset-top-mobile);
  padding-bottom: var(--offset-bottom-mobile);
}
@media (min-width: 1200px) {
  .product-price-quantity {
    padding-top: var(--offset-top-desktop);
    padding-bottom: var(--offset-bottom-desktop);
  }
}
.product-quantity {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-shrink: 0;
}
.product-quantity .product-quantity__price-each {
  margin-top: 12px;
  font-size: calc(var(--body-font-size) * 0.875);
}
.product-quantity-error {
  width: 100%;
  color: var(--color-text-attention, #d33636);
}
.product-quantity-error-msg {
  display: inline-block;
  margin-top: 12px;
}
.product-quantity-error-msg:empty {
  display: none;
  margin-top: 0;
}
.product__quantity-rules-wrapper {
  width: 100%;
}