.faq-page {
  padding-bottom: var(--inner-offset-bottom-mobile);
  background-color: var(--color-background);
}
.faq-page .faq-simple {
  padding-top: 0;
  padding-bottom: 0;
}
.faq-page .faq-page__container {
  max-width: 992px;
  margin: 73px auto 0;
  padding-left: 16px;
  padding-right: 16px;
}
.faq-page .faq-page__container .faq-page__title-text {
  font-size: var(--body-font-size);
}
.faq-page .faq-page__navigation {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: fit-content;
  background-color: var(--color-background, #fff);
  border-radius: var(--global-border-radius);
  will-change: border, box-shadow;
  transition-property: border, box-shadow;
  transition-duration: var(--timing-short);
  transition-timing-function: var(--easing-linear);
}
.faq-page .faq-page__content {
  opacity: 0;
}
.faq-page .faq-page__content.animated {
  opacity: 1;
  transition-property: opacity;
  transition-duration: var(--animate-time);
}
html.no-js .faq-page .faq-page__content {
  opacity: 1;
}
.faq-page .faq-page__navigation-wrapper {
  position: sticky;
  top: var(--header-height-sticky, 0);
  z-index: var(--layer-flat, 1);
  width: calc(100% + 32px);
  margin-left: -16px;
  margin-right: -16px;
  padding: 16px 16px 30px;
  transition-property: top;
  transition-duration: var(--timing-short);
  transition-timing-function: var(--easing-linear);
  overflow: scroll hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.faq-page .faq-page__navigation-wrapper::-webkit-scrollbar {
  display: none;
}
.faq-page .faq-page__navigation-wrapper.is-sticky .faq-page__navigation {
  border-color: var(--color-border-secondary);
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.08);
}
.faq-page .faq-page__navigation-wrapper + .faq-page__content {
  margin-top: 25px;
}
.faq-page .faq-page__sidenav {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 7px;
  border-radius: inherit;
}
.faq-page .faq-page__sidenav.need-animate {
  opacity: 0;
  transition-property: opacity;
}
.faq-page .faq-page__sidenav-item {
  display: flex;
  white-space: nowrap;
}
.faq-page .faq-page__sidenav-item-link:focus-visible {
  opacity: 1;
  outline: 2px solid var(--color-text-primary);
  outline-offset: -1px;
}
.faq-page .faq-simple__category.need-animate {
  opacity: 0;
}
.faq-page .faq-simple__category.need-animate .faq-simple__item {
  opacity: 0;
}
.faq-page.animated .faq-page__sidenav.need-animate {
  opacity: 1;
}
.faq-page.animated .faq-page__sidenav.need-animate .faq-page__sidenav-item {
  opacity: 0;
  animation: fadeIn var(--timing-base) ease-in-out forwards;
}
.faq-page.animated .faq-simple__category.need-animate {
  animation: fadeInUp var(--timing-base) ease-out forwards;
}
.faq-page.animated .faq-simple__category.need-animate .faq-simple__item {
  animation: fadeInUp var(--timing-base) ease-out forwards;
}
@media (min-width: 768px) {
  .faq-page {
    padding-bottom: var(--inner-offset-bottom);
  }
  .faq-page .faq-page__sidenav {
    flex-wrap: wrap;
  }
  .faq-page .faq-page__navigation-wrapper {
    width: fit-content;
    margin: 0 auto;
  }
  .faq-page .faq-page__navigation-wrapper + .faq-page__content {
    margin-top: 41px;
  }
  .faq-page .faq-page__sidenav-item {
    white-space: unset;
  }
  .faq-page .faq-page__container {
    margin-top: 93px;
  }
  .faq-page .faq-page__sidenav-item-link:focus-visible {
    outline-offset: 0;
  }
}