.featured-products {
  padding-top: var(--inner-offset-top-mobile);
  padding-bottom: var(--inner-offset-bottom-mobile);
  background-color: var(--color-background);
}
.featured-products .featured-products__heading {
  margin-bottom: 32px;
}
.featured-products .featured-products__tabs {
  overflow-x: auto;
  margin-bottom: 32px;
  margin-left: -16px;
  margin-right: -16px;
  padding: 0 16px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.featured-products .featured-products__tabs::-webkit-scrollbar {
  display: none;
}
.featured-products .featured-products__tab-content {
  display: none;
}
.featured-products .featured-products__tab-content.active {
  display: block;
  animation-name: fadeIn;
  animation-duration: var(--animate-time);
}
.featured-products .featured-products__row.swiper-wrapper {
  align-items: unset;
}
.featured-products .featured-products__col {
  height: auto;
  padding: 0 8px;
}
.featured-products .featured-products__slider {
  margin: 0 -8px;
}
.featured-products .featured-products__slider:not(.swiper-initialized) {
  overflow-x: auto;
}
.featured-products .featured-products__slider:not(.swiper-initialized) .featured-products__row {
  display: flex;
}
.featured-products .featured-products__slider:not(.swiper-initialized) .featured-products__col {
  width: 50%;
}
.featured-products .featured-products__slider:not(.swiper-initialized) .featured-products__slider-pagination {
  display: none;
}
.featured-products .featured-products__slider:not(.swiper-initialized)::-webkit-scrollbar {
  display: none;
  height: 7px;
}
.featured-products .featured-products__slider-pagination {
  margin-top: 32px;
}
.featured-products .swiper-pagination-bullets {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  padding-bottom: 4px;
}
.featured-products .swiper-pagination-bullets.swiper-pagination-lock {
  display: none;
}
.featured-products .featured-products__slider.need-animate {
  opacity: 0;
  transition-property: opacity;
}
.featured-products.need-animate {
  opacity: 0;
  transform: translateY(70px);
  transition-property: opacity, transform;
  transition-duration: var(--animate-time);
}
.featured-products.animated.need-animate {
  opacity: 1;
  transform: translateY(0);
}
.featured-products.animated .featured-products__slider.need-animate {
  opacity: 1;
}
@media (max-width: 480.98px) {
  .featured-products .featured-products__slider:not(.swiper-initialized) .featured-products__col {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .featured-products .featured-products__row.featured-products__row--center-tablet {
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .featured-products {
    padding-top: var(--inner-offset-top);
    padding-bottom: var(--inner-offset-bottom);
  }
  .featured-products .featured-products__heading {
    margin-bottom: 48px;
  }
  .featured-products .featured-products__col {
    width: 100%;
  }
  .featured-products .featured-products__slider:not(.swiper-initialized) .featured-products__col.featured-products__col--3 {
    flex: 0 0 33.33333%;
  }
  .featured-products .featured-products__slider:not(.swiper-initialized) .featured-products__col.featured-products__col--4 {
    flex: 0 0 33.33333%;
  }
}
@media (min-width: 992px) {
  .featured-products .featured-products__row.featured-products__row--center-desktop {
    justify-content: center;
  }
  .featured-products .featured-products__slider-pagination {
    margin-top: 48px;
  }
}
@media (max-width: 1199.98px) {
  .featured-products .featured-products__slider {
    margin: 0 -16px;
    padding: 0 8px;
  }
}
@media (min-width: 1200px) {
  .featured-products .featured-products__tabs {
    margin-bottom: 48px;
  }
  .featured-products .featured-products__slider:not(.swiper-initialized) .featured-products__col.featured-products__col--3 {
    flex: 0 0 33.33333%;
  }
  .featured-products .featured-products__slider:not(.swiper-initialized) .featured-products__col.featured-products__col--4 {
    flex: 0 0 25%;
  }
}