.gift-card {
  background-color: var(--color-background);
}
.gift-card .gift-card__container {
  max-width: 1008px;
  margin: 0 auto;
  padding: 24px 16px;
  text-align: center;
}
.gift-card .gift-card__header {
  margin-bottom: 24px;
}
.gift-card .gift-card__shop-name {
  margin-bottom: 1rem;
}
.gift-card .gift-card__logo {
  object-fit: contain;
  object-position: var(--img-desktop-pos);
}
.gift-card .gift-card__title {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.gift-card .gift-card__text {
  margin-bottom: 32px;
  font-weight: 400;
}
.gift-card .gift-card__body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}
.gift-card .gift-card__body .button {
  text-decoration: none;
}
.gift-card .gift-card__body-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.gift-card .gift-card__image {
  border-radius: var(--global-border-radius);
  object-fit: contain;
}
.gift-card .gift-card__qr-code-wrapper {
  padding: 24px 32px;
  border-radius: var(--global-border-radius);
  background-color: var(--color-background-secondary);
  border: 1px solid var(--color-border-secondary);
}
.gift-card .gift-card__qr-code {
  max-width: 180px;
  padding: 16px;
  margin: 0 auto 24px auto;
  background-color: #ffffff;
  border-radius: calc(var(--global-border-radius) / 2);
}
.gift-card .gift-card__qr-code img {
  width: 100%;
}
.gift-card .gift-card__number-wrapper {
  position: relative;
}
.gift-card .gift-card__number[type=text] {
  padding-inline-end: 64px;
  line-height: 1.5;
  text-align: center;
}
.gift-card .gift-card__copy-link {
  position: absolute;
  top: calc(50% - 12px);
  right: 24px;
  padding: 0;
  opacity: 1;
  line-height: 1.375;
  transition: opacity var(--timing-micro);
}
.gift-card .gift-card__copy-link .icon {
  width: 24px;
  height: 24px;
}
.gift-card .gift-card__copy-link .icon path {
  stroke: var(--color-text-primary);
}
.gift-card .gift-card__copy-link:hover {
  opacity: 0.8;
}
.gift-card .gift-card__copy-link:focus-visible {
  outline: 2px solid var(--color-text-primary);
}
.gift-card .gift-card__copy-code {
  margin-bottom: 39px;
}
.gift-card .gift-card__copy-code .icon-success {
  width: 24px;
  height: 24px;
  margin-inline-end: 10px;
}
.gift-card .gift-card__copy-code:has(.show) {
  margin-bottom: 0;
}
.gift-card .gift-card__redeem {
  margin-top: 32px;
  line-height: 1.5;
  color: var(--color-text-primary);
}
.gift-card .gift-card__buttons-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 24px;
  gap: 16px;
}
.gift-card .gift-card__button.gift-card__button--first {
  background-color: var(--button-background-color-primary);
  border-color: var(--button-border-color-primary);
  color: var(--button-text-color-primary);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .gift-card .gift-card__button.gift-card__button--first:hover {
    color: var(--button-text-color-primary-hover);
    border-color: var(--button-border-color-primary-hover);
  }
}
.gift-card .gift-card__button.gift-card__button--first::before {
  background-color: var(--button-background-color-primary-hover);
}
.gift-card .gift-card__apple-wallet {
  margin-top: 30px;
}
.gift-card .gift-card__apple-wallet:focus-visible {
  outline: 2px solid var(--color-text-primary);
  outline-offset: 1px;
}
.gift-card .gift-card__apple-wallet-image {
  vertical-align: middle;
}
.gift-card .gift-card__copy-success {
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 8px;
  margin-bottom: 0;
  color: var(--color-text-primary);
}
.gift-card .gift-card__copy-success.show {
  display: flex;
}
.gift-card .gift-card__text.need-animate,
.gift-card .gift-card__redeem.need-animate {
  opacity: 0;
  transition-property: opacity;
  transition-duration: var(--animate-time);
}
.gift-card .gift-card__image.need-animate,
.gift-card .gift-card__qr-code-wrapper.need-animate {
  opacity: 0;
  transform: rotate(360deg);
  transition-property: opacity, transform;
  transition-duration: var(--animate-time);
}
.gift-card .gift-card__qr-code-wrapper.need-animate {
  transform: translateX(-50px);
}
.gift-card .gift-card__button.need-animate {
  opacity: 0;
  transform: translateX(-20px);
  transition-property: opacity, color, border-color, background, transform;
}
.gift-card .gift-card__button.need-animate:nth-child(2) {
  transform: translateX(20px);
}
.gift-card.animated .gift-card__text.need-animate,
.gift-card.animated .gift-card__redeem.need-animate {
  opacity: 1;
}
.gift-card.animated .gift-card__image.need-animate {
  opacity: 1;
  transform: rotate(0);
}
.gift-card.animated .gift-card__qr-code-wrapper.need-animate {
  opacity: 1;
  transform: translateX(0);
}
.gift-card.animated .gift-card__button.need-animate {
  opacity: 1;
  transform: translateX(0);
}
@media (min-width: 768px) {
  .gift-card {
    padding: 48px 16px;
  }
  .gift-card .gift-card__header {
    margin-bottom: 48px;
  }
  .gift-card .gift-card__body-wrapper {
    flex-direction: row;
  }
  .gift-card .gift-card__image {
    width: calc(50% - 8px);
  }
  .gift-card .gift-card__qr-code-wrapper {
    width: calc(50% - 8px);
  }
  .gift-card .gift-card__buttons-wrapper {
    flex-direction: row;
    justify-content: center;
  }
  .gift-card .gift-card__button {
    max-width: 352px;
    width: 100%;
  }
}