.localization-form__select {
  width: 100%;
  height: 100%;
  line-height: 1.37;
  text-align: start;
  color: var(--text-color);
}
.localization-form__select .icon {
  position: absolute;
  top: 50%;
  right: 1.1rem;
  transform: translateY(-50%);
}
.localization-select {
  width: 100%;
  margin-bottom: 0;
  padding: 18px 20px 18px 27px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.localization-option {
  background-color: var(--section-background);
  color: var(--text-color);
}
.localization-button {
  color: var(--text-color);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .localization-button:hover {
    color: var(--link-hover-color);
  }
}
.disclosure {
  position: relative;
}
.disclosure + .localization-button {
  display: flex;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.no-js .localization-form__select .icon {
  display: none;
}
.localization-form-simple .localization-form-simple__container {
  display: flex;
  gap: 8px;
}
.localization-form-simple .localization-form-simple__select-wrapper .icon {
  right: 12px;
  width: 12px;
  height: 12px;
}
.localization-form-simple .localization-form-simple__select {
  height: 100%;
  padding-inline-start: 8px;
  padding-inline-end: 36px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: calc(var(--body-font-size) * 0.875);
  line-height: 1.28;
  color: var(--localization-form-text-color);
  background-color: var(--localization-form-background-color);
  border-color: var(--localization-form-border-color);
  transition-duration: var(--timing-base);
  transition-property: border-color;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .localization-form-simple .localization-form-simple__select:hover {
    cursor: pointer;
    border-color: var(--localization-form-text-color);
  }
}
.localization-form-simple .localization-form-simple__select:focus-visible {
  border-color: var(--localization-form-text-color);
}
.localization-form-simple .localization-form-simple__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 8px;
  font-size: calc(var(--body-font-size) * 0.875);
  line-height: 1.28;
  color: var(--localization-form-text-color);
  background-color: var(--localization-form-background-color);
  border: 1px solid var(--localization-form-border-color);
  border-radius: calc(var(--global-border-radius) / 2);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .localization-form-simple .localization-form-simple__button:hover {
    transition-duration: var(--timing-base);
    transition-property: border-color;
    border-color: var(--localization-form-text-color);
  }
}
.localization-form-simple .localization-form-simple__button:focus-visible {
  outline: 2px solid var(--color-text-primary);
  outline-offset: 2px;
}
.localization-form-simple .localization-form-simple__button .icon {
  width: 16px;
  height: 16px;
}
.localization-form .localization-form__container {
  position: relative;
}
.localization-form .localization-form__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  gap: 8px;
  font-size: calc(var(--body-font-size) * 0.875);
  font-weight: 700;
  line-height: 1.28;
  text-align: start;
  color: var(--localization-form-text-color);
}
.localization-form .localization-form__button:focus-visible {
  outline: 2px solid var(--localization-form-text-color);
  outline-offset: 2px;
}
.localization-form .localization-form__button .localization-form__button-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid var(--localization-form-border-color);
  background-color: transparent;
  transition-duration: var(--timing-base);
  transition-property: background-color;
}
.localization-form .localization-form__button .localization-form__button-icon .icon.icon-arrow-down {
  width: 12px;
  height: 12px;
  transition-duration: var(--timing-base);
  transition-property: transform;
  transform-origin: 50% 50%;
}
.localization-form .localization-form__button .localization-form__button-icon .icon.icon-circle-decoration-border {
  position: absolute;
  left: -1px;
  right: -1px;
  top: -1px;
  bottom: -1px;
  transition-duration: var(--timing-base);
  transition-property: opacity;
}
.localization-form .localization-form__button .localization-form__button-icon .icon.icon-circle-decoration-border rect {
  transition-duration: var(--timing-base);
  transition-property: stroke-dasharray;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .localization-form .localization-form__button:hover .localization-form__button-icon .icon.icon-circle-decoration-border rect {
    stroke-dasharray: 0, 0, 72.26, 0;
  }
}
.localization-form .localization-form__button[aria-expanded=true] .localization-form__button-icon {
  backdrop-filter: blur(10px);
  background-color: var(--localization-form-background-color);
}
.localization-form .localization-form__button[aria-expanded=true] .localization-form__button-icon .icon.icon-circle-decoration-border {
  opacity: 0;
}
.localization-form .localization-form__button[aria-expanded=true] .localization-form__button-icon .icon.icon-arrow-down {
  transform: rotate(180deg);
}
.localization-form .localization-form__panel {
  display: flex;
  position: absolute;
  bottom: calc(100% + 12px);
  inset-inline-start: 0;
  height: 0;
  min-width: 100%;
  max-width: 260px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition-property: visibility, opacity, height;
  transition-duration: var(--timing-base);
  transition-timing-function: var(--easing-slov-in-fast-out);
  transition-delay: var(--timing-short), var(--timing-short), 0s;
  border: 1px solid var(--localization-form-border-color);
  border-radius: calc(var(--global-border-radius) / 2);
  background-color: var(--localization-form-background-color);
  backdrop-filter: blur(10px);
}
.localization-form .localization-form__panel.is-active {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
  z-index: 1;
}
.localization-form .localization-form__list {
  width: 100%;
  padding: 2px 4px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.localization-form .localization-form__list::-webkit-scrollbar {
  display: none;
}
.localization-form .localization-form__item {
  padding-top: 2px;
  padding-bottom: 2px;
}
.localization-form .localization-form__link {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 4px;
  font-size: calc(var(--body-font-size) * 0.875);
  font-weight: 500;
  line-height: 1.43;
  text-align: start;
  text-decoration: none;
  color: var(--localization-form-text-color);
  border-radius: calc(var(--global-border-radius) / 4);
  opacity: 0.5;
  transition-property: opacity, background;
  transition-duration: var(--timing-base);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .localization-form .localization-form__link:hover {
    background-color: var(--localization-form-background-hover-color);
    opacity: 1;
  }
}
.localization-form .localization-form__link:focus-visible {
  outline: 2px solid var(--color-text-primary);
  outline-offset: 2px;
  opacity: 1;
}
.localization-form .localization-form__link[aria-current=true] {
  backdrop-filter: blur(12px);
  background-color: var(--localization-form-background-selected-color);
  opacity: 1;
}
.localization-form .localization-form__link.need-animate {
  visibility: hidden;
  opacity: 0;
  transform: translateX(-15px);
  transition-property: visibility, opacity, transform;
  transition-duration: var(--timing-short), var(--timing-short), 0s;
  transition-delay: 0s, 0s, var(--timing-short);
}
.localization-form .localization-form__panel.is-active .localization-form__link.need-animate {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
  transition-delay: calc(var(--timing-short) + var(--animation-delay));
  transition-duration: var(--timing-base);
  transition-property: visibility, opacity, transform;
}
.localization-form.localization-form--secondary .localization-form__button {
  font-weight: 500;
  transition-property: background-size;
  transition-duration: var(--timing-base);
  background-image: linear-gradient(to right, currentColor, currentColor);
  background-position: 0 min(1.28em - 1px, 100%);
  background-size: 0 1px;
  background-repeat: no-repeat;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .localization-form.localization-form--secondary .localization-form__button:hover {
    background-size: 100% 1px;
  }
}
.localization-form.localization-form--secondary .localization-form__button-icon {
  display: none;
}
.localization-form.localization-form--secondary .localization-form__panel {
  position: absolute;
  top: calc(100% + 12px);
  bottom: unset;
  width: max-content;
}
.localization-form.localization-form--thirdly .localization-form__button {
  font-weight: 500;
}
body.rtl .localization-form.localization-form--secondary .localization-form__button {
  background-position: 100% min(1.28em - 1px, 100%);
}