.password-header {
  background-color: var(--section-background, #fff);
  color: var(--section-text_color, #fff);
  overflow: hidden;
}
.password-header .password-header__container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 16px;
}
.password-header .password-header__col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
.password-header .password-header__row {
  max-width: fit-content;
}
.password-header .password-header__logo-wrapper {
  display: inline-block;
  word-break: break-word;
}
.password-header .password-header__logo-wrapper .h2 {
  color: var(--section-text_color, #fff);
}
.password-header .password-header__logo {
  object-fit: contain;
  object-position: var(--img-desktop-pos);
}
.password-header .password-header__button {
  margin: 0;
  padding: 0;
  color: var(--section-text_color);
  line-height: 1.29;
}
.password-header .password-header__button .button-link__icons {
  transition-property: color;
  transition-duration: var(--timing-base);
}
.password-header .password-header__logo-wrapper.need-animate {
  transform: scale(0);
  transition-property: transform;
  transition-duration: var(--animate-time);
}
.password-header .password-header__button.need-animate {
  opacity: 0;
  transform: translateX(25px);
  transition-property: opacity, transform, color, border-color, background;
  transition-duration: var(--animate-time);
}
.password-header.need-animate {
  opacity: 0;
  transition-property: opacity;
  transition-duration: var(--animate-time);
}
.password-header.animated .password-header__logo-wrapper.need-animate {
  transform: scale(1);
}
.password-header.animated .password-header__button.need-animate {
  opacity: 1;
  transform: translateX(0);
}
.password-header.animated.need-animate {
  opacity: 1;
}
@media (min-width: 768px) {
  .password-header .password-header__container {
    padding: 24px 48px;
  }
  .password-header .password-header__col {
    flex-direction: row;
    justify-content: space-between;
  }
  .password-header .password-header__row {
    width: 33.33333%;
    max-width: 33.3333%;
  }
  .password-header .password-header__row:last-child {
    text-align: end;
  }
}
.password-popup .password-popup__container {
  width: 100%;
  max-width: 600px;
  padding: 0;
  overflow: hidden;
  background-color: var(--popup-background-color, #fff);
  color: var(--popup-text-color, var(--color-text-primary));
  grid-template-areas: "content" "image";
  transform: translateZ(0);
  mask-image: radial-gradient(circle, white 100%, black 100%);
}
.password-popup .password__header {
  display: flex;
  padding-top: 0;
  padding-bottom: 1px;
  padding-inline-start: 24px;
  padding-inline-end: 9px;
}
.password-popup .password-popup__close {
  display: inline-flex;
  opacity: 1;
  margin-inline-start: auto;
  padding: 15px;
  color: inherit;
  transition-property: opacity;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}
.password-popup .password-popup__close:focus-visible {
  outline: 2px solid currentColor;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .password-popup .password-popup__close:hover {
    opacity: 0.5;
  }
}
.password-popup .password-popup__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 32px;
}
.password-popup .password-popup__heading {
  text-align: center;
  padding-bottom: 16px;
  color: var(--popup-text-color);
}
.password-popup .password-popup__form-content {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.password-popup .input-wrapper .input:focus + .input-label,
.password-popup .input-wrapper .input:not(:placeholder-shown) + .input-label {
  background-color: var(--popup-input-background-color);
  color: var(--popup-input-color);
  box-shadow: none;
}
.password-popup .password-popup__input[type=password] {
  border-color: var(--popup-input-border-color);
  box-shadow: none;
  background-color: var(--popup-input-background-color);
  color: var(--popup-input-color, var(--color-text-primary));
}
.password-popup .password-popup__input[type=password] + .input-label {
  color: var(--popup-input-color-transparent);
}
.password-popup .password-popup__input[type=password]:-webkit-autofill {
  -webkit-text-fill-color: var(--input-color, var(--color-text-primary));
  transition: background-color 5000s;
}
.password-popup .password-popup__input[type=password].error:not(:focus) {
  border-color: var(--color-text-attention, #b00020);
  color: var(--color-text-attention, #b00020);
}
.password-popup .password-popup__input[type=password]:focus, .password-popup .password-popup__input[type=password]:focus-visible {
  border-color: currentColor;
  box-shadow: none;
}
.password-popup .password-popup__button {
  border: 1px solid var(--popup-button-border-color, var(--popup-button-background-color));
  background-color: var(--popup-button-background-color, var(--button-background-color-secondary));
  color: var(--popup-button-text-color, var(--button-text-color-secondary));
}
.password-popup .password-popup__button::before {
  background-color: var(--popup-button-background-hover-color, var(--popup-background-color));
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .password-popup .password-popup__button:hover {
    border-color: var(--popup-button-border-hover-color, var(--button-border-color-secondary));
    color: var(--popup-button-text-hover-color, var(--button-border-color-secondary));
  }
}
.password-popup .password-popup__submitted-title {
  display: block;
  padding-top: 16px;
  text-align: center;
}
.password-popup .password-popup__description {
  text-align: center;
  color: var(--popup-text-color);
}
.password-popup .password-popup__description a {
  display: inline-flex;
  align-items: center;
  padding-bottom: 2px;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid currentColor;
  line-height: 1.375;
  font-weight: 500;
  text-decoration: none;
  word-break: break-word;
  transition-property: border-color;
  transition-duration: var(--timing-short);
  color: currentColor;
}
.password-popup .password-popup__description a:focus-visible {
  outline-color: currentColor;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .password-popup .password-popup__description a:hover {
    border-color: transparent;
  }
}
@media (min-width: 768px) {
  .password-popup .password-popup__container {
    background-color: transparent;
  }
  .password-popup .password-popup__box-content {
    border-radius: var(--global-border-radius);
    background-color: var(--popup-background-color, #fff);
  }
}
@media (min-width: 992px) {
  .password-popup .password-popup__body {
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 40px;
  }
  .password-popup .password-popup__heading {
    padding-bottom: 24px;
  }
}