.store-locator {
  padding-top: var(--inner-offset-top-mobile);
  padding-bottom: var(--inner-offset-bottom-mobile);
  overflow: hidden;
  position: relative;
  word-break: break-word;
  row-gap: 16px;
  background-color: var(--color-background);
}
.store-locator .store-locator__container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.store-locator .store-locator__media,
.store-locator .store-locator__content {
  width: 100%;
}
.store-locator .store-locator__decor-image-wrapper {
  display: none;
}
.store-locator .store-locator__decor-image {
  width: 100%;
  height: 100%;
}
.store-locator .store-locator__media-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
  padding-top: 93.29%;
  border-radius: calc(var(--global-border-radius) * 2);
}
.store-locator .store-locator__media-wrapper:has(.store-locator__image--placeholder) {
  pointer-events: none;
}
.store-locator a.store-locator__media-wrapper:focus-visible {
  outline: 2px solid var(--color-text-primary);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .store-locator a.store-locator__media-wrapper:hover .store-locator__image {
    transform: scale(1.25);
  }
}
.store-locator .store-locator__buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.store-locator .store-locator__image,
.store-locator .store-locator__map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.store-locator .store-locator__image {
  object-fit: cover;
  object-position: var(--img-mobile-pos);
  transition-property: transform, opacity;
}
.store-locator .store-locator__content-title {
  font-size: var(--body-font-size);
  line-height: 1.5;
  font-weight: 400;
  opacity: 0.6;
  color: var(--color-text-primary);
}
.store-locator .store-locator__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.store-locator .store-locator__title + .store-locator__item {
  margin-top: 32px;
}
.store-locator .store-locator__item + .store-locator__item {
  margin-top: 24px;
}
.store-locator .store-locator__item + .store-locator__buttons-wrapper,
.store-locator .store-locator__title + .store-locator__buttons-wrapper {
  margin-top: 32px;
}
.store-locator .store-locator__content-text {
  font-size: calc(var(--body-font-size) * 1.125);
  line-height: 1.5;
  font-weight: 600;
}
.store-locator .store-locator__content-text a {
  color: currentColor;
  text-decoration: none;
  transition-property: opacity;
  transition-duration: var(--timing-short);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .store-locator .store-locator__content-text a:hover {
    opacity: 0.7;
  }
}
.store-locator .social-links .social-links__list {
  gap: 10px;
}
.store-locator .social-links .button-social {
  width: 40px;
  height: 40px;
}
.store-locator .store-locator__decor-image-wrapper.need-animate {
  opacity: 0;
  transition-duration: var(--animate-time);
  transition-property: opacity, transform;
}
.store-locator .store-locator__decor-image-wrapper.need-animate.store-locator__decor-image-wrapper--first {
  transform: translateX(-40px) scale(0.8) rotate(45deg);
}
.store-locator .store-locator__decor-image-wrapper.need-animate.store-locator__decor-image-wrapper--second {
  transform: translateX(40px) scale(1.2) rotate(-45deg);
}
.store-locator .store-locator__content.need-animate,
.store-locator .store-locator__media.need-animate {
  opacity: 0;
  transition-property: opacity, transform;
}
.store-locator .store-locator__content.need-animate {
  transform: translateX(-200px);
}
.store-locator .store-locator__media.need-animate {
  transform: translateX(200px);
}
.store-locator.animated .store-locator__decor-image-wrapper.need-animate {
  opacity: 1;
}
.store-locator.animated .store-locator__decor-image-wrapper.need-animate.store-locator__decor-image-wrapper--first {
  transform: translateX(0) scale(1) rotate(45deg);
}
.store-locator.animated .store-locator__decor-image-wrapper.need-animate.store-locator__decor-image-wrapper--second {
  transform: translateX(0) scale(1) rotate(-45deg);
}
.store-locator.animated .store-locator__title.need-animate,
.store-locator.animated .store-locator__item.need-animate {
  opacity: 1;
}
.store-locator.animated .store-locator__content.need-animate,
.store-locator.animated .store-locator__media.need-animate {
  opacity: 1;
  transform: translateX(0);
}
@media (max-width: 767.98px) {
  .store-locator .store-locator__title {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .store-locator {
    padding-top: var(--inner-offset-top);
    padding-bottom: var(--inner-offset-bottom);
  }
  .store-locator .store-locator__title {
    font-size: calc(var(--heading-font-size) * 4);
  }
  .store-locator .store-locator__decor-image-wrapper {
    position: absolute;
    aspect-ratio: 1;
    display: block;
    z-index: 1;
  }
  .store-locator .store-locator__decor-image-wrapper.store-locator__decor-image-wrapper--first {
    width: 140px;
    height: 140px;
    top: 0;
    left: 0;
    transform: rotate(45deg);
  }
  .store-locator .store-locator__decor-image-wrapper.store-locator__decor-image-wrapper--second {
    width: 181px;
    height: 181px;
    bottom: 0;
    right: 0;
    transform: rotate(-45deg);
  }
  .store-locator .store-locator__image {
    object-position: var(--img-desktop-pos);
  }
  .store-locator .store-locator__buttons-wrapper {
    flex-direction: row;
    gap: 48px;
  }
}
@media (min-width: 992px) {
  .store-locator .store-locator__container {
    flex-direction: row;
    gap: 64px;
  }
  .store-locator .store-locator__media-wrapper {
    padding-top: 100%;
  }
  .store-locator .store-locator__media,
  .store-locator .store-locator__content {
    width: 50%;
  }
  .store-locator .social-links .button-social {
    width: 48px;
    height: 48px;
  }
}
@media (min-width: 1200px) {
  .store-locator .store-locator__content-text {
    font-size: calc(var(--body-font-size) * 1.75);
    line-height: 1.3333;
  }
  .store-locator .store-locator__title + .store-locator__item,
  .store-locator .store-locator__item + .store-locator__item {
    margin-top: 32px;
  }
}